doctype html
html(ng-app='validation')
  head
    title Overriding number
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    style.
      input.ng-invalid-domain {
        border: 2px solid maroon;
        background-color: lightpink;
      }
      .checking {
        border: 4px dotted darkgray;
      }
  body(style={'margin-top': '12px'})
    .container
      form(name='simple',novalidate)
        .form-group
          label.control-label A valid domain name
          input.form-control(
              autofocus
              type='domainName'
              ng-model='domainName'
              domain
          )
    script(src='/angular/angular.js')
    script
      :coffee-script
        angular.module 'validation', []
        .directive 'domain', ($q) ->
          require: 'ngModel'
          restrict: 'A'
          link: (scope, element, attrs, ctrl) ->
            ctrl.$asyncValidators.domain = (value) ->
              defer = $q.defer()
              if ctrl.$isEmpty value
                defer.resolve()
              else
                element.addClass 'checking'
                setTimeout(->
                  if value.length > 0 and value.toUpperCase().charAt(0) == 'M'
                    defer.resolve()
                    element.removeClass 'checking'
                  else
                    defer.reject()
                    element.removeClass 'checking'
                , 2000)
              defer.promise
