extends ../layout
block style
  style.
    input.ng-invalid-domain {
      border: 2px solid maroon;
      background-color: lightpink;
    }
    .checking {
      border: 4px dotted darkgray;
    }
block content
  form(name='simple',novalidate)
    .form-group
      label.control-label A valid domain name
      input.form-control(
          autofocus
          type='domainName'
          ng-model='domainName'
          domain
      )
append script
  script(type='text/javascript' src='validation.module.js')
  script(type='text/javascript' src='domain.directive.js')
