form(name='simple' novalidate)
  .form-group
    label.control-label A valid domain name
    input.form-control(
        autofocus
        type='domainName'
        ng-model='domainName'
        domain
    )
