form(name='simple' novalidate)
  .form-group
    label.control-label A number dividable with 5
    div(ng-init='useThis=5')
    input.form-control(
        autofocus
        type='number'
        name='myNumber'
        ng-model='myNumber'
        dividable='useThis'
        required
    )
