h2 Top dives
div(ng-init="dive=#{JSON.stringify(init)}")
div(top-dive header="The best dive of this month" footer="Stay tuned!")
  h3 {{dive.site}}
  h4 {{dive.location}}
  h2 {{dive.depth}}m | {{dive.time}}min
