// Optional title bar
.current-spot
  .container-fluid(ng-show="!isActive('main')")
    .container
      h3 {{getTitle()}}

// View content
.main-content
  .container-fluid
    .container
      div(ng-view)
