h1 My Latest Dives
.row
  .col-sm-12
    ul.nav.nav-pills
      li(ng-class="{active: activeLetter==''}")
        a(href='' ng-click="setFilter('')") All
      li(
        ng-repeat='letter in dives | startChars'
        ng-class='{active: activeLetter==letter}'
      )
        a(href='' ng-click='setFilter(letter)') {{letter}}
.row
  .col-sm-4(ng-repeat="dive in dives | startWith :activeLetter")
    h3 {{dive.site}}
    h3 {{dive.location}}
    h3 {{dive | diveData : ' :: '}}
