doctype html
html(ng-app='app')
  head
    title= "Dive Log (ng-controller)"
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  body(ng-controller='diveLogCtrl')
    block content
    script(type='text/javascript' src='/angular/angular.js')
    block script
