extends ../layout
block content
  h2 Top dives
  div(ng-init='dive={site:"El Aroukh",location:"Giftun, Egypt",depth: 14.2,time:56}')
  .panel.panel-primary
    .panel-heading The best dive of this month
    .panel-body
      h3 {{dive.site}}
      h4 {{dive.location}}
      h2 {{dive.depth}}m | {{dive.time}}min
    .panel-footer Stay tuned!
