doctype html
html(ng-app)
  head
    title Dive Buddy
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top':'24px'})
    .container-fluid
      .row
        .col-sm-12
          label(for='buddyEdit') Budd Name:
          input#buddyEdit.form-control(ng-model='buddy')
      .row
        .col-sm-12
          | Your dive buddy is&#32;
          strong {{buddy}}
    script(src='/angular/angular.js')
