h1 My Latest Dives
.alert.alert-info(ng-hide='true')
  | The app is being loaded...
.row(ng-controller='diveLogCtrl',ng-cloak)
  .col-sm-4(ng-repeat='dive in dives | filter:searchKey')
    h3 {{dive.site}}
    h4 {{dive.location}}
    h2 {{dive.depth}} feet | {{dive.time}} min
