extends ../layout

block content
  h1 My Latest Dives
  .alert.alert-info(ng-hide='true')
    | The app is being loaded...
  .row(ng-controller='diveLogCtrl',ng-cloak)
    .col-sm-4(ng-repeat='dive in dives | filter:searchKey')
      h3 {{dive.site}}
      h4 {{dive.location}}
      h2 {{dive.depth}} feet | {{dive.time}} min

block script
  script(type='text/javascript' src='dives.js')
  script(type='text/javascript' src='divelog.module.js')
  script(type='text/javascript' src='divelog.controller.js')
  script
    :coffee-script
      setTimeout (-> angular.bootstrap(document, ['diveLog'])), 3000
