doctype html
html()&attributes(app===false?{}:{'ng-app':app||true})
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  body()&attributes(body_attr || {})
    != yield
    script(type='text/javascript' src='/angular/angular.js')
    for script in scripts||[]
      script(type='text/javascript' src=script)
