h1 My Latest Dives (ng-controller)
.row(ng-controller='diveLogCtrl')
  .col-sm-4(ng-repeat='dive in dives')
    h3 {{dive.site}}
    h4 {{dive.location}}
    h2 {{dive.depth}} feet | {{dive.time}} min
