doctype html
html(ng-app='diveLog')
  head
    title Dive Log (ng-class)
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    style.
      .card {
        border: 2p solid darkgray;
        padding: 8px 16px;
        padding-top: 0;
        margin-top: 12px;
      }
      .blue {
        border: 2px solid navy;
        background-color: navy;
        color: white;
      }
      .red {
        border: 2px solid darkred;
        background-color: darkred;
        color: white;
      }
  body(ng-controller='diveLogCtrl')
    .container-fluid
      h1 My Latest Dives (ng-class)
      .row
          .col-sm-6
            select.form-control(
              ng-model='selection'
              ng-options='item.id as item.name for item in options'
            )
      .row
        div(ng-class="size()",ng-repeat="dive in dives")
          .card(ng-class="color()")
            h3 {{dive.site}}
            h4 {{dive.location}}
            h2 {{dive.depth}} feet | {{dive.tiime}} min
    script(src='/angular/angular.js')
    script
      :coffee-script
        angular.module 'diveLog', []
        .controller 'diveLogCtrl', [
          '$scope'
          ($scope) ->
            $scope.dives = [{
              site: "Abu Gotta Ramada"
              location: "Hurghada, Egypt"
              depth: 72
              time: 54
            },{
              site: "Ponte Mahoon"
              location: "Maehbourg, Mauritius"
              depth: 54
              time: 38
            },{
              site: "Molnar Cave"
              location: "Budapest, Hungary"
              depth: 98
              time: 62
            }]
            $scope.options = [
              {id: 'sm', name: "Small cards"}
              {id: 'smbl', name: "Small cards with blue background"}
              {id: 'smrd', name: "Small cards with red background"}
              {id: 'bg', name: "Big cards"}
              {id: 'bgbl', name: "Big cards with blue background"}
              {id: 'bgrd', name: "Big cards with red background"}
            ]
            $scope.selection = 'sm'
            $scope.size = ->
              return "col-sm-4" if $scope.selection.indexOf('sm') >= 0
              "col-sm-6"
            $scope.color = ->
              return "blue" if $scope.selection.indexOf('bl') >= 0
              return "red" if $scope.selection.indexOf('rd') >= 0
        ]
