doctype html
html(ng-app='diveLog')
  head
    title Dive Log
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid(ng-controller='diveLogCtrl')
      h1 My Latest Dives
      .row
        .col-sm-12
          h3 Average dive time: {{avgTime() | number: 2}} minute
          h3 Average depth: {{avgDepth() | number}} feet
      .row
        .col-sm-4(ng-repeat='dive in dives')
          h3 {{dive.site}}
          h4 {{dive.location}}
          h2 {{dive.depth}} feet | {{dive.time}} min
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src="../dives.js")
    script(type='text/javascript' src='divelog.module.js')
    script(type='text/javascript' src='divelog.controller.js')
