extends ../layout

block content
  h1 Drag any dive log item
  .row
    .col-sm-12(yw-draggable) Dive Log Entry #1
    .col-sm-12(yw-draggable) Dive Log Entry #2
    .col-sm-12(yw-draggable) Dive Log Entry #3

block script
  script(type='text/javascript' src='events.module.js')
  script(type='text/javascript' src='ywdraggable.directive.js')
