doctype html
html(ng-app=app)
  head
    title= title
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    if has_style
      link(rel='stylesheet' href='site.css')
  body()&attributes(body_attr || {})
    .container-fluid()&attributes(cont_attr || {})
      != yield
    script(src='/angular/angular.js')
    for script in scripts||[]
      script(type='text/javascript' src=script)
