doctype html
html(ng-app=app)
  head
    title= title
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    block style
    block template
  body()&attributes(body_attr || {})
    .container-fluid()&attributes(cont_attr || {})
      block content
    block script
      script(src='/angular/angular.js')
