extends ../layout

block content
  h1(ng-init='evidence="Yes!"') Is there a Root Scope?
  h2(ng-controller='simpleCtrl') {{answer}}

block script
  script(type='text/javascript' src='root.module.js')
  script(type='text/javascript' src='simple.controller.js')
