doctype html
html(ng-app='diveLog')
  head
    title Dive Log
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid
      h1 My Latest Dives
      .row(ng-controller='diveLogCtrl')
        .col-sm-4(ng-repeat="dive in dives | orderBy: avgSpeed: true")
          h3 {{dive.site}}
          h3 {{dive.location}}
          h3 {{dive.depth}} feet | {{dive.time}} min
    script(src='/angular/angular.js')
    script(src='dives.js')
    script
      :coffee-script
        angular.module 'diveLog', []
        .controller 'diveLogCtrl', ($scope) ->
          $scope.dives = dives
          $scope.avgSpeed = (item) ->
            if item.time is 0 then 0 else item.depth / item.time
