extends ../layout.jade
block content
  label.control-label Planned Maximum Depth (feet)
  input.form-control(type='number',ng-model='maxDepth')
  p.text-danger You need {{cert()}} certification for this dive.
append script
  script(type='text/javascript' src='services.module.js')
  script(type='text/javascript' src='depth.provider.js')
  script(type='text/javascript' src='depth.config.js')
  script(type='text/javascript' src='depth.controller.js')
