.logEntry1 {
    background-color: navy;
    padding: 2px 16px;
}
.logEntry1 > h2 {
    color: yellow;
}
.logEntry1 > h3 {
    color: cyan;
}
.logEntry1 > h4 {
    color: white;
}
.logEntry2 {
    background-color: #eeeeee;
    border: 2px solid darkgray;
    padding: 2px 16px;
}
.logEntry2 > h2 {
    color: black;
}
.logEntry2 > h3 {
    color: gray;
}
.logEntry2 > h4 {
    color: darkgray;
}

