doctype html
html(ng-app='services')
  head
    title Constant Service
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(ng-controller='statsCtrl')
    .container
      h2 The number of your dives: {{diveNum}}
      h2 Hours spent underwater: {{hours}}
      h2 Average dive time: {{avgTime|number:2}} minutes
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src='services.module.js')
    script(type='text/javascript' src='stats.controller.js')
