extends ../layout

block content
  .container-fluid
    h1 My Latest Dives (with API service)
  .row
    .col-sm-4.col-sm-offset-8
      input.form-control.input-lg(placeholder="Search",ng-model='searchKey')
  .row(ng-controller='diveLogCtrl')
    .col-sm-4(ng-repeat='dive in dives | filter:searchKey')
      h3 {{dive.site}}
      h4 {{dive.location}}
      h2 {{dive.depth}} feet | {{dive.time}} min

block script
  script(type='text/javascript' src='dives.js')
  script(type='text/javascript' src='app.module.js')
  script(type='text/javascript' src='divelogapi.factory.js')
  script(type='text/javascript' src='divelog.controller.js')
