doctype html
html(ng-app='diveLog')
  head
    title Dive Log
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid
      h1 My Latest Dives
      .row(ng-controller='diveLogCtrl')
        .col-sm-4(ng-repeat='dive in dives')
          pre {{dive || json}}
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src="../dives.js")
    script(type='text/javascript' src='divelog.module.js')
    script(type='text/javascript' src='divelog.controller.js')
