a.navbar-brand(href='#/main', ng-click='showMain()').
  Younderwater Admin
#adminMenu.collapse.navbar-collapse
  ul.nav.navbar-nav
    li(yw-menu-id='Locations')
      a(href='#/locations') Locations
    li(yw-menu-id='Sites')
      a(href='#/sites') Dive Sites
    li(yw-menu-id='Types')
      a(href='#/types') Dive Types
