extends ../layout

block style
  link(rel='stylesheet' href='site.css')

block content
  h1 My Latest Dives (ng-class)
  .row
      .col-sm-6
        select.form-control(
          ng-model='selection'
          ng-options='item.id as item.name for item in options'
        )
  .row
    div(
      ng-class="{'col-sm-4': isSmall(), 'col-sm-6': isBig()}"
      ng-repeat='dive in dives'
    )
      .card(ng-class='{blue: isBlue(), red: isRed()}')
        h3 {{dive.site}}
        h4 {{dive.location}}
        h2 {{dive.depth}} feet | {{dive.tiime}} min

block script
  script(type='text/javascript' src='dives.js')
  script(type='text/javascript' src='options.js')
  script(type='text/javascript' src='divelog.module.js')
  script(type='text/javascript' src='divelog.controller.js')
