.card
    border 2px solid darkgray
    padding 8px 16px
    padding-top 0
    margin-top 12px

.blue
    border 2px solid navy
    background-color navy
    color white

.red
    border 2px solid darkred
    background-color darkred
    color white
