extends ../layout

block navbar
  a.navbar-brand(href='#' ng-click='showMain()') Younderwater Admin
  #adminMenu.collapse.navbar-collapse
    ul.nav.navbar-nav
      li(ng-class="{active: isActive('Locations')}")
        a(href='#',ng-click='showLocations()') Locations
      li(ng-class="{active: isActive('Sites')}")
        a(href='#',ng-click='showDiveSites()') Dive Sites

block content
  // Optional title bar
  .current-spot
    .container-fluid
      .container
        div(ng-show="view=='locations'")
          h3 Manage the list of diving locations
        div(ng-show="view=='diveSites'")
          h3 Manage the list of dive sites

  // View content
  .main-content
    .container-fluid
      .container
        div(ng-show="view=='main'")
          div(ng-include="'main.html'")
        div(ng-show="view=='locations'")
          div(ng-include="'locations.html'")
        div(ng-show="view=='diveSites'")
          div(ng-include="'diveSites.html'")

block script
  script(src='02.js')
