h1 My Latest Dives
.row(ng-controller='diveLogCtrl')
  .col-sm-4(ng-repeat='dive in dives')
    h3 {{dive.site | uppercase}}
    h4 {{dive.location | lowercase}}
    h2 {{dive.depth}} feet | {{dive.time}} min
