extends ../layout

block content
  .container-fluid
    h1 {{message}}

block script
  script(type='text/javascript' src='my.core.comm.module.js')
  script(type='text/javascript' src='my.core.ui.module.js')
  script(type='text/javascript' src='my.core.module.js')
  script(type='text/javascript' src='yw.charts.module.js')
  script(type='text/javascript' src='yw.divelog.module.js')
  script(type='text/javascript' src='yw.user.module.js')
  script(type='text/javascript' src='yw.main.module.js')
  script(type='text/javascript' src='module.controller.js')
