h2 Find Underwater Tokens Game
h4 Tokens to collect: {{toCollect}}
div
  .row
    .col-sm-12
      h4
        | Tokens collected: {{collected}}&#32;
        span(ng-show='hasEnough()') [Done!]
div(
  ng-repeat='diver in divers'
  diver-panel
  diver-name='{{diver}}'
  counter='$parent.collected'
)
