h1 My Latest Dives
.row(ng-controller='diveLogCtrl')
  .col-sm-4(ng-repeat='dive in dives')
    h3 {{dive.site}}
    h4 {{dive.location}}
    h2 {{dive.depth}} feet | {{dive.time}} min
    h4(ng-show='$index % 2 == 0') {{dive.divedOn | date: 'short'}}
    h4(ng-show='$index % 2 == 1') {{dive.divedOn | date: 'MMMM dd, yyyy'}}
