doctype html
html(ng-app='fish')
  head
    title Isolated Scope
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    style.
      .ng-scope {
        border: 1px solid blue;
        border-left: 8px solid blue;
        margin: 4px 12px;
        padding: 4px;
      }
      .ng-isolate-scope {
        border: 1px dotted red;
        border-left: 8px dotted red;
        margin: 4px 12px;
        padding: 4px;
      }
    script#otherName(type='text/ng-template')
      h3 {{language}} name:
      h2 {{fishName}}
      button.btn.btn-primary(ng-click='reveal()') Reveal
  body
    .container-fluid
      .row(ng-init='fishName="Lionfish"')
        .col-sm-3
          img.img-responsive(src='Lionfish.jpg')
        .col-sm-9
          h3 English name:
          h2 {{fishName}}
          button.btn.btn-primary(ng-click='fishName="Big lionfish"') Modify
      .row
        .col-sm-12
          section(
            other-name
            language="Latin"
            orig-name="[English: {{fishName}}]"
            real-name="Pterolis volitans"
          )
    script(src='/angular/angular.js')
    script
      :coffee-script
        angular
        .module 'fish', []
        .directive 'otherName', ($templateCache) ->
          scope:
            fishName: '@origName'
          template: -> $templateCache.get 'otherName'
          link: (scope, element, attrs) ->
            scope.language = attrs['language']
            scope.reveal = -> scope.fishName = attrs['realName']
