.container-fluid(ng-controller='planCtrl')
  .row
    .col-sm-12
      .form-group
        label(for='maxDepth') Planned Depth (feet):
        input#maxDepth.form-control(type='number',ng-model='maxDepth')
        p(
          style={'margin-top':'12px'}
          ng-class="{'text-danger': needAdvancedCert()}"
        ) {{message()}}
