doctype html
html()&attributes(app || {})
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    block style
  body()&attributes(body || {})
    .container-fluid()&attributes(container || {})
      block content
    script(type='text/javascript' src='/angular/angular.js')
    block script
