style.
  .logEntry {
    background-color: navy;
    padding: 2px 16px;
  }
  .logEntry > h2 {
    color: yellow;
  }
  .logEntry > h3 {
    color: cyan;
  }
  .logEntry > h4 {
    color: white;
  }
.logEntry
  h3 {{dive.site}}
  h4 {{dive.location}}
  h2 {{dive.depth}} feet | {{dive.time}} min
