// Optional title bar
.current-spot
  .container-fluid
    .container
      div(ng-show="view=='locations'")
        h3 Manage the list of diving locations
      div(ng-show="view=='diveSites'")
        h3 Manage the list of dive sites

// View content
.main-content
  .container-fluid
    .container
      div(ng-view)
