doctype html
html(ng-app='diveLog')
  head
    title Dive Log with Templates
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
    style.
      .logEntry1 {
        background-color: navy;
        padding: 2px 16px;
      }
      .logEntry1 > h2 {
        color: yellow;
      }
      .logEntry1 > h3 {
        color: cyan;
      }
      .logEntry1 > h4 {
        color: white;
      }
      .logEntry2 {
        background-color: #eeeeee;
        border: 2px solid darkgray;
        padding: 2px 16px;
      }
      .logEntry2 > h2 {
        color: black;
      }
      .logEntry2 > h3 {
        color: gray;
      }
      .logEntry2 > h4 {
        color: darkgray;
      }
  body
    .container-fluid(ng-controller='diveLogCtrl')
      h1 My Latest Dives
      .row(style={'margin-bottom': '12px'})
        .col-sm-4
          button.btn.btn-default(ng-click='style=1') Colorful
          button.btn.btn-default(ng-click='style=2') Grayscale
        .col-sm-4.col-sm-offset-8
          input.form-control.input-lg(
            placeholder="Search"
            ng-model='searchKey'
          )
      .row
        .col-sm-4(ng-repeat='dive in dives | filter:searchKey')
          dive-log-card
    script(src='/angular/angular.js')
    script(src='dives.js')
    script(src='divelog.module.js')
    script(src='divelog.controller.js')
    script(src='divelogcard.directive.js')
