.logEntry1
    background-color navy
    padding 2px 16px
    > h2
        color yellow
    > h3
        color cyan
    > h4
        color white

.logEntry2
    background-color #eeeeee
    border 2px solid darkgray
    padding 2px 16px
    > h2
        color black
    > h3
        color gray
    > h4
        color darkgray
