doctype html
html(ng-app='dropdown')
  head
    title Dropdown list
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-controller='sitesCtrl')
      select.form-control(
          ng-model='selected'
          ng-options='site.name for site in sites'
      )
      hr
      p Selected value: {{selected}}
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src='dropdown.module.js')
    script(type='text/javascript' src='sites.controller.js')
