extends ../layout
block content
  select.form-control(
      ng-model='selected'
      ng-options='site.name for site in sites'
  )
  hr
  p Selected value: {{selected}}
append script
  script(type='text/javascript' src='dropdown.module.js')
  script(type='text/javascript' src='sites.controller.js')
