.container-fluid
  h1 My Latest Dives
  .row(style={'margin-bottom': '12px'})
    .col-sm-4.col-sm-offset-8
      input.form-control.input-lg(
        placeholder="Search"
        ng-model='searchKey'
      )
  .row(ng-controller='diveLogCtrl')
    .col-sm-4(ng-repeat='dive in dives | filter:searchKey')
      .logEntry
        h3 {{dive.site}}
        h4 {{dive.location}}
        h2 {{dive.depth}} feet | {{dive.time}} min
