doctype html
html(ng-app='dropdown')
  head
    title Dropdown list (ng-options)
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-controller='sitesCtrl')
      select.form-control(
          ng-model='selected'
          ng-options="site.name group by site.loc for site in sites"
      )
      hr
      button.btn.btn-primary(ng-click="selected='#4'") Select item #4
      hr
      p Selected value: {{selected}}
    script(src='/angular/angular.js')
    script
      :coffee-script
        angular.module 'dropdown', []
        .controller 'sitesCtrl', ($scope) ->
          $scope.sites = [
            {id: 1, name: "El Arouk",           loc: "Hurghada"}
            {id: 2, name: "Fanadir",            loc: "Hurghada"}
            {id: 3, name: "Shab El Erg",        loc: "Hurghada"}
            {id: 4, name: "Jackfish Allee",     loc: "Ras Mohamed"}
            {id: 5, name: "Shark-Yolanda",      loc: "Ras Mohamed"}
            {id: 6, name: "Shark Observatory",  loc: "Ras Mohamed"}
          ]
