doctype html
html(ng-app='app')
  head
    title Dive Sites
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet' href='../site.css')
  body
    .container-fluid(ng-controller='siteEditCtrl')
      block content
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src='../sites.js')
    block script
