h1 My Latest Dives
.row
  .col-sm-12
    h3
      | Averaged dive time:&#32;
      | {{(avgTime() | number : 2) + ' minutes' | uppercase}}
    h3 Average depth: {{avgDepth() | lowercase | number}} feet
.row
  .col-sm-4(ng-repeat='dive in dives')
    h3 {{dive.site}}
    h4 {{dive.location}}
    h2 {{dive.depth}} feet | {{dive.time}} min
