doctype html
html(ng-app)
  head
    title Dropdown list
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-init="selected='2'")
      select
        option(
            ng-repeat='value in [1,2,3]'
            ng-value='value'
            ng-selected='value==selected'
        ) Value \#{{value}}
      hr
      p Selected value: {{selected}}
    script(src='/angular/angular.js')
