doctype html
html(ng-app=app || true)
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
    block style
  body(style={'margin-top': '12px'})&attributes(body_attr || {})
    .container()&attributes(cont_attr || {})
      block content
    block script
      script(type='text/javascript' src='/angular/angular.js')
