doctype html
html(ng-app='services')
  head
    title Value Service
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(ng-controller='versionCtrl')
    .container
      h2 This is Younderwater v{{getVersion()}}
      button.btn.btn-primary(ng-click='incMinor()') Increment minor number
    script(type='text/javascript' src='/angular/angular.js')
    script(type='text/javascript' src='services.module.js')
    script(type='text/javascript' src='version.value.js')
    script(type='text/javascript' src='version.controller.js')
    script(type='text/javascript' src='version1.config.js')
    script(type='text/javascript' src='version2.config.js')
