extends ../layout

block content
  h1 Interesting dives
  .row
    .col-sm-4
      select.form-control(
          ng-model='selectedLoc'
          ng-options='loc for loc in locations'
      )
  .row(style={'margin-top':'24px'})
    .col-sm-6
      .alert.alert-info(ng-if='selectedLoc==locations[0]')
        | The most colorful flora and fauna, ever!
      .alert.alert-warning(ng-if='selectedLoc==locations[1]')
        | Beautiful terraform underwater...
      .alert.alert-danger(ng-if='selectedLoc==locations[2]')
        | Very strong changes in the current during a single dive
      .alert.alert-success(ng-if='selectedLoc==locations[3]')
        | The best cave diving experience...

block script
  script(type='text/javascript' src='locations.js')
  script(type='text/javascript' src='yw.interesting.module.js')
  script(type='text/javascript' src='interesting.controller.js')
