extends ../layout

block navbar
  a.navbar-brand(href='#/main', ng-click='showMain()').
    Younderwater Admin
  #adminMenu.collapse.navbar-collapse
    ul.nav.navbar-nav
      li(yw-menu-id='Locations')
        a(href='#/locations') Locations
      li(yw-menu-id='Sites')
        a(href='#/sites') Dive Sites
      li(yw-menu-id='Types')
        a(href='#/types') Dive Types

block content
  // Optional title bar
  .current-spot
    .container-fluid(ng-show="!isActive('main')")
      .container
        h3 {{getTitle()}}

  // View content
  .main-content
    .container-fluid
      .container
        div(ng-view)

block script
  script(src='/angular-route/angular-route.js')
  script(src='07.js')
