extends ../layout

block content
  h2 Find Underwater Tokens Game
  .row
    .col-sm-12
      h4 Tokens to collect: {{tokens}}
      button.btn.btn-sm(ng-click='increment()',ng-disabled='tokens >= 100') +
      button.btn.btn-sm(ng-click='decrement()',ng-disabled='tokens <= 0') -
  div(ng-controller='tokenCollCtrl')
    .row
      .col-sm-12
        h4
          | Tokens collected: {{collected}}
          span(ng-show='hasEnough()') [Done!]
    .row(
      ng-controller='diverCtrl'
      ng-repeat='diver in divers'
      style={'padding-top': '4px'}
    )
      .col-sm-2 {{diver}}: {{tokensFound}}
      .col-sm-4
        button.btn.btn-xs.btn-success(ng-click='found()') Found
        | &nbsp;
        button.btn.btn-xs.btn-danger(
          ng-click='lost()'
          ng-disabled='tokensFound <= 0'
        ) Lost

block script
  script(type='text/javascript' src='token.module.js')
  script(type='text/javascript' src='initialgoal.constant.js')
  script(type='text/javascript' src='tokengoal.controller.js')
  script(type='text/javascript' src='tokencoll.controller.js')
  script(type='text/javascript' src='diver.controller.js')
