h2 Type in Your Dive Buddies
div(ng-repeat='n in [1,2]')
  .row(ng-controller='buddyCtrl')
    .col-sm-12(ng-init='index=n')
      label Buddy # {{index}}:
      input.form-control(ng-model='buddy',placeholder="Buddy #\{{index}}")
      span.help-block {{getMessage()}}
