doctype html
html&attributes(app || {})
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid()&attributes(controller || {})
      != yield
    for script in scripts||[]
      script(type='text/javascript' src=script)
