doctype html
html&attributes(app || {})
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  body
    .container-fluid()&attributes(controller || {})
      block content
    block script
