.switch
    padding 4px
    width 40px
    display inline-block
    text-align center
    cursor pointer

    &.yes
        border 2px solid green
        background-color green
        color white
    &.no
        border 2px solid red
        color red
