doctype html
html(ng-app='services')
  head
    title Text input
    link(rel='stylesheet',href='/bootstrap/css/bootstrap.css')
  body(style={'margin-top': '12px'})
    .container(ng-controller='depthCtrl')
      label.control-label Planned Maximum Depth (feet)
      input.form-control(type='number',ng-model='maxDepth')
      p.text-danger You need {{cert()}} certification for this dive.
    script(src='/angular/angular.js')
    script
      :coffee-script
        angular.module 'services', []
        .provider 'depth', ->
          depthLimit = 120
          setDepthLimit: (limit) -> depthLimit = limit
          $get: ->
            toMeters: (feet) -> feet / 3.28
            toFeet: (meters) -> meters * 3.28
            isDeep: (depthInFeet) -> depthInFeet > 120
        .config (depthProvider) -> depthProvider.setDepthLimit 240
        .controller 'depthCtrl', ($scope, depth) ->
          $scope.cert = ->
            if depth.isDeep $scope.maxDepth
              "Advanced Open Water"
            else
              "Open Water"
