doctype html
html(ng-app='services')
  head
    title= title
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  body()&attributes(body_attr || {'style': {'margin-top': '12px'}})
    .container()&attributes(cont_attr || {})
      != yield
    script(type='text/javascript' src='/angular/angular.js')
    for script in scripts||[]
      script(type='text/javascript' src=script)
